<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link type="image/x-icon" href="{{asset("assets/img/favicon.png")}}" rel="icon">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset("assets/css/bootstrap.min.css")}}">
			<link rel="stylesheet" href="{{asset("assets/plugins/fontawesome/css/fontawesome.min.css")}}">
			<link rel="stylesheet" href="{{asset("assets/plugins/fontawesome/css/all.min.css")}}">
			<link rel="stylesheet" href="{{asset("assets/css/feather.css")}}">
			<link rel="stylesheet" href="{{asset("assets/plugins/select2/css/select2.min.css")}}">
			<link rel="stylesheet" href="{{asset("assets/css/aos.css")}}">
			<link rel="stylesheet" href="{{asset("assets/css/style.css")}}">
		{% endblock %}

	</head>
	<body>
    <div class="home-one-banner bg-warning">
				
				<div class="container ">
					{% include "navbar.html.twig" %}
					
				</div>
    </div>
		<div class="main-wrapper  text-dark "   >
			{% block body %}{% endblock %}
			</div>

        {% block footer %}
        {% include "footer.html.twig" %}
        {% endblock %}
		{% block script %}
			<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
			<script src="{{asset("assets/js/jquery-3.6.0.min.js")}}"></script>

			<script src="{{asset("assets/js/bootstrap.bundle.min.js")}}"></script>

			<script src="{{asset("assets/js/feather.min.js")}}"></script>

			<script src="{{asset("assets/plugins/select2/js/select2.min.js")}}"></script>

			<script src="{{asset("assets/js/slick.js")}}"></script>

			<script src="{{asset("assets/js/aos.js")}}"></script>

			<script src="{{asset("assets/js/script.js")}}"></script>
		{% endblock %}
	</body>
</html>
